# Задание №1

In [10]:
months = [
    'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
    'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
]
print(months[int(input())-1])

5
Май

# Задание №2

In [3]:
n = int(input())
if n % 2 == 0:
    print("Число четное")
else:
    print("Число нечетное")

5
Число нечетное

# Задание №3

In [4]:
n = int(input())
if(n > 40):
    print("stonks")
elif(n < 40):
    print("not stonks")

52
stonks

# Задание №4

In [16]:
def is_year_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
print(is_year_leap(2024))

True

# Задание №5

In [17]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(11))

True

# Задание №6

In [23]:
a = float(input())
b = float(input())
print(a, b)
lower_bound = (-138/2)**1.3
upper_bound = (-69/28**5.1)*4
if a > b * 3.6 or lower_bound <= b <= upper_bound:
    a, b = b, a
print(a, b)

10.0 2.0
2.0 10.0

# Задание №7

In [26]:
d = list(map(int, input().split()))
print(f"Все числа уникальны: {len(d) == len(set(d))}")
print(f"Количество четных чисел: {sum(1 for d in d if d % 2 == 0)}")
print(f"Количество отрицательных чисел: {sum(1 for d in d if d < 0)}")
print(f"Количество чисел в диапазоне [-256, 1024]: {sum(1 for d in d if -256 <= d <= 1024)}")

Все числа уникальны: True
Количество четных чисел: 2
Количество отрицательных чисел: 0
Количество чисел в диапазоне [-256, 1024]: 5

# Задание повышенной сложности №1

In [30]:
a = 1
b = 2
c = 3
ans = (a**2 + b**3) / ((c+3) * 4)
print(ans)
if(ans % 2 == 0):
    print("Число чётное")
else:
    print("Число нечётное")

0.375
Число нечётное