# Супер ультра мега решение 1 задания повышенной сложности

In [6]:
n = int(input())

3670

In [7]:
day = n//3600
min = (n - (day  * 3600)) // 60
sec = n - day * 3600 - min * 60
print(str(day) + ":" + str(min) + ":" + str(sec))

1:1:10

# Пока программировал 2 задачу, научился считать

In [10]:
n = int(input())

5

In [11]:
print(n + int(str(n) + str(n)) + int(str(n) + str(n) + str(n)))

615